<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>JavaScript Automatic Page Redirect</title>
<script>
    function pageRedirect() {
        window.location.replace("http://localhost:4200/user");
    }      
    pageRedirect()
    setTimeout("pageRedirect()", 0);
</script>
</head>
<body>
   
</body>
</html>