<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
           <!-- Background image for card set in CSS! -->
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" [formGroup]="registerForm">
            <div class="form-label-group">
              <label for="inputUserame">Username</label>
              <input type="text" formControlName="username" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
            </div>

            <div class="form-label-group">
              <label for="inputEmail">Email address</label>
              <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            </div>

            <hr>

            <div class="form-label-group">
              <label for="inputPassword">Password</label>
              <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <div class="form-label-group">
              <label for="inputConfirmPassword">Confirm password</label>
              <input type="password" formControlName="cpass" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="register()">Register</button>
            <a class="d-block text-center mt-2 small" href="/login">Already have an account? Sign In</a>
            <hr class="my-4">
            <a  href="http://localhost:3000/users/google/login" class="btn btn-lg btn-google btn-block text-uppercase">Sign up with Google</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
