<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Persona Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  role="button" (click)="logout()">Log Out</a>
      </li>
      </ul>
  </div>
</nav>
<br>
<br>
<div class="container">
  <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
          <div class="tab-content py-4">
              <div class="tab-pane active" id="profile">
                  <h3 class="mb-3">{{name}}</h3>
                  <p style="color: blue;">{{website}}</p>
                  <div class="row">
                      <div class="col-md-6">
                          <h6>About:</h6>
                          <p>
                              {{summary}}
                          </p>

                      </div>
                      <div class="col-md-6">
                        <h6>Preparing for:</h6>
                          <p>
                              {{planning}}
                          </p>
                          <!-- <h6>Recent badges</h6>
                          <a href="#" class="badge badge-dark badge-pill">html5</a>
                          <a href="#" class="badge badge-dark badge-pill">react</a>
                          <a href="#" class="badge badge-dark badge-pill">codeply</a>
                          <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                          <a href="#" class="badge badge-dark badge-pill">css3</a>
                          <a href="#" class="badge badge-dark badge-pill">jquery</a>
                          <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                          <a href="#" class="badge badge-dark badge-pill">responsive-design</a> -->
                      </div>
                      <div class="col-md-12">
                          <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Backgroud</h5>
                          <table class="table table-sm table-hover table-striped">
                              <tbody>
                                  <tr>
                                      <td>
                                          Degree: <strong>{{degree}}</strong> with specialization in <strong>{{specialization}}</strong>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!--/row-->
              </div>
              <div class="tab-pane" id="messages">
                  <div class="alert alert-info alert-dismissable">
                      <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user.
                  </div>
                  <table class="table table-hover table-striped">
                      <tbody>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">Yesterday</span> There has been a request on your account since that was..
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/10</span> Porttitor vitae ultrices quis, dapibus id dolor. Morbi venenatis lacinia rhoncus.
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/4</span> Vestibulum tincidunt ullamcorper eros eget luctus.
                              </td>
                          </tr>
                          <tr>
                              <td>
                                 <span class="float-right font-weight-bold">9/4</span> Maxamillion ais the fix for tibulum tincidunt ullamcorper eros.
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="tab-pane" id="edit">
                  <form role="form">
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">First name</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="Jane">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="Bishop">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Email</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="email" value="email@gmail.com">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Company</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Website</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="url" value="">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Address</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="" placeholder="Street">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-6">
                              <input class="form-control" type="text" value="" placeholder="City">
                          </div>
                          <div class="col-lg-3">
                              <input class="form-control" type="text" value="" placeholder="State">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
                          <div class="col-lg-9">
                              <select id="user_time_zone" class="form-control" size="0">
                                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                                  <option value="Alaska">(GMT-09:00) Alaska</option>
                                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                                  <option value="Arizona">(GMT-07:00) Arizona</option>
                                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                              </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Username</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="text" value="janeuser">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Password</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="11111122333">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                          <div class="col-lg-9">
                              <input class="form-control" type="password" value="11111122333">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-lg-3 col-form-label form-control-label"></label>
                          <div class="col-lg-9">
                              <input type="reset" class="btn btn-secondary" value="Cancel">
                              <input type="button" class="btn btn-primary" value="Save Changes">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
